body {
    background-image: url("../images/circles-light.png");
}

/* Abot Me Page */
.p1 { 
    display: block;
    position: absolute;
    left: 2em;
    bottom: 1em;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1e;
    text-align: center;
    padding: 0.5em;
    margin: 1rem;
    color: white;
    width: 11.25rem ;
}

/* Contact Page */

#Contact-Form {
    width: 60rem;
    height: calc(100vh - 12.5rem);
    left: calc(100% - 60rem);
    position: relative;
    top: 2.5rem;
    float: left;
    background-color: #ffffff;
}

#name {
    width: 95%;
    padding: 5px;
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#mail {
    width: 95%;
    padding: 5px;
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#msg {
    width: 95%;
    height: 250px;
    padding: 5px;
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* responsive layout query */

@media (min-width: 576px) {
    .main {
        left: calc(100vw - 60rem);
    }
}