body {
    background-image: url("../images/circles-light.png");
}

header {
    border-bottom: 0.125em solid #cccccc;
    background-color: #ffffff;
}

.nav-link {
    height: 50px;
    margin: 0 9px;
    border-left: 1px solid #F2F2F2;
    border-right: 1px solid #FFF;
}

.page-header {
    border-bottom: 0.125rem solid #cccccc; 
    font-family: 'Georgia', Times, Times New Roman, serif; 
    color: #4aaaa5; 
    padding: 1rem 0 0.1rem 0;
}

main {
    display: block;
    overflow-y: auto;
}

/* Abot Me Page */
.p1 { 
    display: block;
    position: absolute;
    left: 2rem;
    bottom: 1rem;
    background-color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
    color: white;
    width: 11.25rem ;
}

#name {
    width: 95%;
    padding: 5px;
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#mail {
    width: 95%;
    padding: 5px;
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

#msg {
    width: 95%;
    height: 250px;
    padding: 5px;
    margin: 20px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: rgba(126, 122, 122, 0.8);
}

.button {
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* responsive layout query */

@media (min-width: 576px) {
    .main {
        left: calc(100vw - 60rem);
    }
}